<a href="https://colab.research.google.com/github/poclab-web/AO-feature-selection/blob/main/example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 使用したファイル

その１　IASOからdownloadして加工したファイル

https://github.com/poclab-web/reagents_stock/blob/main/data/gotoh-lab-data_20231030.xlsx

その２　使用化合物のリスト

https://github.com/poclab-web/reagents_stock/blob/main/data/measured_dpph_20231030.xlsx

## 読み込み

In [ ]:
import pandas as pd
df_reagents = pd.read_excel("/content/measured_dpph_20231030.xlsx", index_col=0)
df_reagents.head(1)

,SMILES,name,Synthetic or Reagents,Reagents company,Reagents No,IC50 [mg/L],std_50,Stoichio num.,std_n,TEAC [gTE/g],...,WEIGHT,DIPOLE,radical_min,anion_min,BDE,IP,PDE,PA,ETE,inchikey
No,,,,,,,,,,,,,,,,,,,,,
1,COC1=CC=CC=C1O,guaiacol,NaN,NaN,NaN,82.452164,2.828474,0.753397,0.026359,0.672927,...,124.139,2.72402,LHGVFZTZFXWLCP-UHFFFAOYSA-N_17_r.arc,LHGVFZTZFXWLCP-UHFFFAOYSA-N_17_a.arc,78.45786,186.670043,96.55103,282.4694,52.024773,LHGVFZTZFXWLCP-UHFFFAOYSA-N

In [ ]:
df_iaso = pd.read_excel("/content/gotoh-lab-data_20231030.xlsx", index_col=0)
df_iaso.head(1)

,IASONo.,CAS No.,smiles,内容量,内容量単位,比重,Name,メーカー名,製品番号,price_yen
No,,,,,,,,,,
1,BAX00001018,7785-26-4,CC1=CC[C@H]2C[C@@H]1C2(C)C,25.0,ml,0.862,(-)-α-Pinene,富士フイルム和光純薬(株),169-21242,2200.0

## 問題

## 出力

In [ ]:
df.to_excel('pandas_to_excel.xlsx', sheet_name='result')